# CHROMA_PERSIST_DIR=./chroma_data
# CHROMA_COLLECTION_NAME=pet_embeddings

# CLIP_MODEL_NAME=ViT-B-32
# CLIP_PRETRAINED=laion2b_s34b_b79k
# CLIP_DEVICE=            

# FLORENCE_MODEL_NAME=microsoft/Florence-2-base
# FLORENCE_DEVICE=
# FLORENCE_ATTN_IMPLEMENTATION=eager
