# Supabase
SUPABASE_URL=https://tvpmnpylyftibonsnsor.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2cG1ucHlseWZ0aWJvbnNuc29yIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MjkxNDY2NywiZXhwIjoyMDU4NzkwNjY3fQ.V89oT-QcQeD-HhP-QeHhP-QeHhP-QeHhP-QeHhP

# Server
PORT=3001

# AI Service
AI_SERVICE_URL=http://localhost:8000
